body {
    margin: 0;
    font-family: Arial;
    display: flex;
    height: 100vh;
    overflow: hidden;
}

#content {
    margin: 0;
    width: 85%;
    padding: 0px 20px;
    color: white;
    overflow: auto;
    background-color: #1e1e1e;
    border-left: 3px solid gray;
}

#content a {
    color: #8ab4f8;
}

#sidenav {
    width: 15%;
    min-width: 250px;
    background-color: #111;
    padding-top: 20px;
    overflow-y: scroll;
    overflow-x: hidden;
}

#sidenav::-webkit-scrollbar {
    display: none;
}

#sidenav button {
    color: white;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    text-decoration: none;
}

#sidenav button:hover {
    color: lightgreen;
    background-color: #4b4b4b;
}

.nav-section {
    font-size: 18px;
    color: lightgreen;
    padding: 8px 8px 8px 16px;
}

.nav-button {
    font-size: 16px;
    padding: 8px 8px 8px 16px;
}

.first-level-dropdown-button {
    font-size: 14px;
    padding: 8px 8px 8px 24px;
}

.second-level-dropdown-button {
    padding: 4px 8px 4px 32px;
    font-size: 14px;
}

.dropdown-container {
    display: none;
    background-color: #262626;
}

.code-example-block {
    display: inline-block;
    background-color: #262626;
    border: solid 1px #4b4b4b;
    padding: 5px;
    margin: 0px 0px 15px 0px;
}

.about-integration-label {
    left: 8px;
    top:-8px;
    position: relative;
}